.formControl.error input,
.formControl.error textarea {
    border: 3px solid red;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    border: red 2px solid;
    padding: 5px;
    color: rgb(236, 14, 14);
}